[MAIN]
extension-pkg-allow-list=pydantic

[MESSAGES CONTROL]
disable = attribute-defined-outside-init,
          duplicate-code,
          fixme,
          function-redefined,
          global-statement,
          line-too-long,
          import-outside-toplevel,
          inconsistent-return-statements,
          invalid-name,
          logging-format-interpolation,
          logging-fstring-interpolation,
          logging-not-lazy,
          missing-class-docstring,
          missing-function-docstring,
          missing-module-docstring,
          multiple-statements,
          no-member,
          protected-access,
          raise-missing-from,
          redefined-argument-from-local,
          redefined-builtin,
          redefined-outer-name,
          simplifiable-if-expression,
          too-few-public-methods,
          too-many-arguments,
          too-many-branches,
          too-many-format-args,
          too-many-instance-attributes,
          too-many-lines,
          too-many-locals,
          too-many-nested-blocks,
          too-many-return-statements,
          too-many-statements,
          # This makes calls to open too cumbersome
          unspecified-encoding,
          # Not all integrations need all the arguments we pass to
          # their run function.
          unused-argument,
          consider-using-f-string,
          # This one matters - Python scoping messes up with our
          # global and multi-threading locks
          global-variable-not-assigned,
          # since v2.16
          use-dict-literal,
          broad-exception-raised,
          broad-exception-caught,
          superfluous-parens,
