include:
- compose.redis.yaml

services:
  # qontract-api (FastAPI)
  api:
    build:
      context: .
      dockerfile: qontract_api/Dockerfile
      target: debug
    ports:
      - "8080:8080"
      - "5679:5678"  # debugpy port
    env_file:
      - ./qontract_api/.env
    environment:
      - QAPI_START_MODE=api
      - QAPI_CACHE_BROKER_URL=redis://cache:6379/0
      # Enable debugpy
      - DEBUGGER_ENABLED=true
      # Hot reload for development
      - AUTO_RELOAD=1
    volumes:
      - ./qontract_api/app.sh:/opt/app-root/src/app.sh
      - ./qontract_api/qontract_api:/opt/app-root/src/qontract_api/qontract_api
      - ./qontract_utils/qontract_utils:/opt/app-root/src/qontract_utils/qontract_utils
      - ./qontract_api/.env.yaml:/opt/app-root/src/.env.yaml
    networks:
      - qontract-development
    depends_on:
      cache:
        condition: service_healthy
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:8080/healthz"]
    #   start_interval: 1s
    #   start_period: 1s
    #   interval: 10s
    #   timeout: 1s
    #   retries: 10

  # Celery Worker
  worker:
    build:
      context: .
      dockerfile: qontract_api/Dockerfile
      target: debug
    ports:
      - "5680:5678"  # debugpy port
    env_file:
      - ./qontract_api/.env
    environment:
      - QAPI_START_MODE=worker
      - QAPI_CACHE_BROKER_URL=redis://cache:6379/0
      # Enable debugpy
      - DEBUGGER_ENABLED=true
      - AUTO_RELOAD=1
    volumes:
      - ./qontract_api/app.sh:/opt/app-root/src/app.sh
      - ./qontract_api/qontract_api:/opt/app-root/src/qontract_api/qontract_api
      - ./qontract_utils/qontract_utils:/opt/app-root/src/qontract_utils/qontract_utils
      - ./qontract_api/.env.yaml:/opt/app-root/src/.env.yaml
    depends_on:
      cache:
        condition: service_healthy
    networks:
      - qontract-development

  generate-qontact-api-client:
    restart: never
    build:
      context: .
      dockerfile: qontract_api/Dockerfile
      target: builder
    profiles:
      - dont-start-automatically
    entrypoint:
      - /bin/uv
      - tool
      - run
      - --python
      - /opt/app-root/bin/python3
      - openapi-python-client==0.27.1
    command:
      - generate
      - --url=http://api:8080/docs/openapi.json
      - --meta=none
      - --output-path=qontract_api_client
      - --custom-template-path=openapi_python_client_templates
      - --overwrite
    # depends_on:
    #   api:
    #     condition: service_healthy
    volumes:
      - ./qontract_api_client/openapi_python_client_templates:/opt/app-root/src/openapi_python_client_templates
      - ./qontract_api_client/qontract_api_client:/opt/app-root/src/qontract_api_client
    networks:
      - qontract-development

networks:
  qontract-development:
    external: true
    name: qontract-development
