[graphql]
# Mandatory section.

# (mandatory) qontract-server endpoint.
server = "http://localhost:4000/graphql"

# (optional) qontract-server authentication.
token = "Basic ..."

[vault]
# Mandatory section if Vault is used as a secret store.

# all paramaters are mandatory if section is present.
server = "https://vaultserver"
role_id = "<role_id>"
secret_id = "<secret_id>"

[ldap]
# This section is required by `qontract-reconcile ldap-users`

# (mandatory) ldap endpoint
server = "ldap://ldap.example.com"
# (optional) user search point
base_dn = "ou=users,dc=example,dc=com"

[smtp]
# This section is required by `qontract-reconcile terraform-resources`

# (mandatory) path to smtp credentials in vault
secret_path = 'secrets/path/to/smtp/creds'
# (mandatory) mail address to send mails to
mail_address = 'example.com'

[dyn]
# This section is required by `qontract-reconcile dyn-traffic-director`

# (mandatory) path to dyn credentials in vault
secrets_path = 'secrets/path/to/dyn/creds'
