[graphql]
# Mandatory section.

# (mandatory) qontract-server endpoint.
server = "http://localhost:4000/graphql"

# (optional) qontract-server authentication.
token = "Basic ..."

[vault]
# Mandatory section if Vault is used as a secret store.

# all paramaters are mandatory if section is present.
server = "https://vaultserver"
role_id = "<role_id>"
secret_id = "<secret_id>"

[github]
# This section is required by `qontract-reconcile github`.

# one sub-section per managed GitHub organization with the API token:
[github.<orgname>]
token = "<token>"

[github.<another_orgname>]
token = "<another_token>"

[ldap]
# This section is required by `qontract-reconcile ldap-users`

# (mandatory) ldap endpoint
server = "ldap://ldap.example.com"
# (optional) user search point
base_dn = "ou=users,dc=example,dc=com"

[app-interface]
# This section is required by `qontract-reconcile ldap-users`

# (mandatory) gitlab server url
server = "https://gitlab.example.com"
# (mandatory) gitlab private auth token
token = "..."
# (mandatory) app-interface gitlab project id
project_id = "12345"

[terraform]
# This section is required by `qontract-reconcile terraform-resources`

# one sub-section per managed AWS account
[terraform.<accountname>]
# (mandatory) path to terraform profile secrets in vault
secrets_path = 'secrets/path/to/terraform/profile'
