[tool.black]
line-length = 88
target-version = ['py39']
include = '^.*\.py$'
extend-exclude = '''
^/(
    reconcile/terraform_resources.py
    | reconcile/utils/terraform_client.py
    | reconcile/utils/terrascript_aws_client.py
    | reconcile/gql_queries/.*
)$
'''
