---
apiVersion: v1
kind: Template
metadata:
  name: qontract-reconcile
objects:
{{- range $i, $integration := .Values.integrations }}
{{- $shards := int $integration.shards | default 1 }}
{{- range $shard_id := until $shards }}
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app: qontract-reconcile-{{ $integration.name }}
    {{- if gt $shards 1 }}
    name: qontract-reconcile-{{ $integration.name }}-{{ $shard_id }}
    {{- else }}
    name: qontract-reconcile-{{ $integration.name }}
    {{- end }}
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: qontract-reconcile-{{ $integration.name }}
    template:
      metadata:
        labels:
          app: qontract-reconcile-{{ $integration.name }}
          component: qontract-reconcile
      spec:
        {{- if $integration.logs }}
        initContainers:
        - name: config
          image: ${BUSYBOX_IMAGE}:${BUSYBOX_IMAGE_TAG}
          imagePullPolicy: ${BUSYBOX_IMAGE_PULL_POLICY}
          resources:
            requests:
              memory: 10Mi
              cpu: 15m
            limits:
              memory: 20Mi
              cpu: 25m
          env:
          {{- if $integration.logs.slack }}
          - name: SLACK_WEBHOOK_URL
            valueFrom:
              secretKeyRef:
                key: slack.webhook_url
                name: app-interface
          - name: SLACK_CHANNEL
            value: ${SLACK_CHANNEL}
          - name: SLACK_ICON_EMOJI
            value: ${SLACK_ICON_EMOJI}
          {{- end }}
          {{- if $integration.logs.cloudwatch }}
          - name: LOG_GROUP_NAME
            valueFrom:
              secretKeyRef:
                name: ${CLOUDWATCH_SECRET}
                key: log_group_name
          {{- end }}
          command: ["/bin/sh", "-c"]
          args:
          - |
            # generate fluent.conf
            cat > /fluentd/etc/fluent.conf <<EOF
            <source>
              @type tail
              path /fluentd/log/integration.log
              pos_file /fluentd/log/integration.log.pos
              tag integration
              <parse>
                @type none
              </parse>
            </source>

            <filter integration>
              @type grep
              <exclude>
                key message
                pattern /HTTP Error 409: Conflict/
              </exclude>
            </filter>

            <filter integration>
              @type grep
              <exclude>
                key message
                pattern /using gql endpoint/
              </exclude>
            </filter>

            <match integration>
              @type copy
              {{- if $integration.logs.slack }}
              <store>
                @type slack
                webhook_url ${SLACK_WEBHOOK_URL}
                channel ${SLACK_CHANNEL}
                icon_emoji ${SLACK_ICON_EMOJI}
                username sd-app-sre-bot
                flush_interval 10s
                message "\`\`\`[{{ $integration.name }}] %s\`\`\`"
              </store>
              {{- end }}
              {{- if $integration.logs.cloudwatch }}
              <store>
                @type cloudwatch_logs
                log_group_name ${LOG_GROUP_NAME}
                log_stream_name {{ $integration.name }}
                auto_create_stream true
              </store>
              {{- end }}
            </match>
            EOF
          volumeMounts:
          - name: fluentd-config
            mountPath: /fluentd/etc/
        {{- end }}
        containers:
        - name: int
          image: ${IMAGE}:${IMAGE_TAG}
          ports:
            - name: http
              containerPort: 9090
          env:
          - name: SHARDS
            value: "{{ $shards }}"
          - name: SHARD_ID
            value: "{{ $shard_id }}"
          - name: DRY_RUN
            value: ${DRY_RUN}
          - name: INTEGRATION_NAME
            value: {{ $integration.name }}
          - name: INTEGRATION_EXTRA_ARGS
            value: "{{ $integration.extraArgs }}"
          - name: SLEEP_DURATION_SECS
            value: ${SLEEP_DURATION_SECS}
          - name: GITHUB_API
            valueFrom:
              configMapKeyRef:
                name: app-interface
                key: GITHUB_API
          - name: SENTRY_DSN
            valueFrom:
              configMapKeyRef:
                name: app-interface
                key: SENTRY_DSN
          {{- if $integration.logs }}
          - name: LOG_FILE
            value: "${LOG_FILE}"
          {{- end }}
          {{- if $integration.state }}
          - name: APP_INTERFACE_STATE_BUCKET
            valueFrom:
              secretKeyRef:
                name: app-interface
                key: aws.s3.bucket
          - name: APP_INTERFACE_STATE_BUCKET_ACCOUNT
            value: "${APP_INTERFACE_STATE_BUCKET_ACCOUNT}"
          {{- end }}
          - name: UNLEASH_API_URL
            valueFrom:
              secretKeyRef:
                name: unleash
                key: API_URL
          - name: UNLEASH_CLIENT_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: unleash
                key: CLIENT_ACCESS_TOKEN
          - name: SLOW_OC_RECONCILE_THRESHOLD
            value: "${SLOW_OC_RECONCILE_THRESHOLD}"
          - name: LOG_SLOW_OC_RECONCILE
            value: "${LOG_SLOW_OC_RECONCILE}"
          {{- with $integration.extraEnv }}
          {{- range $i, $env := . }}
          - name: {{ $env.secretKey }}
            valueFrom:
              secretKeyRef:
                name: {{ $env.secretName }}
                key: {{ $env.secretKey }}
          {{- end }}
          {{- end }}
          resources:
{{ toYaml $integration.resources | indent 12 }}
          volumeMounts:
          - name: qontract-reconcile-toml
            mountPath: /config
        {{- if $integration.logs }}
          - name: logs
            mountPath: /fluentd/log/
        - name: fluentd
          image: ${FLUENTD_IMAGE}:${FLUENTD_IMAGE_TAG}
          imagePullPolicy: ${FLUENTD_IMAGE_PULL_POLICY}
          {{- if $integration.logs.cloudwatch }}
          env:
          - name: AWS_REGION
            valueFrom:
              secretKeyRef:
                name: ${CLOUDWATCH_SECRET}
                key: aws_region
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: ${CLOUDWATCH_SECRET}
                key: aws_access_key_id
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: ${CLOUDWATCH_SECRET}
                key: aws_secret_access_key
          {{- end }}
          resources:
            requests:
              memory: 30Mi
              cpu: 15m
            limits:
              memory: 120Mi
              cpu: 25m
          volumeMounts:
          - name: logs
            mountPath: /fluentd/log/
          - name: fluentd-config
            mountPath: /fluentd/etc/
        {{- end }}
        volumes:
        - name: qontract-reconcile-toml
          secret:
            secretName: qontract-reconcile-toml
        {{- if $integration.logs }}
        - name: logs
          emptyDir: {}
        - name: fluentd-config
          emptyDir: {}
        {{- end }}
{{- end }}
{{- end }}
{{- range $i, $integration := .Values.cronjobs }}
- apiVersion: batch/v1beta1
  kind: CronJob
  metadata:
    labels:
      app: qontract-reconcile-{{ $integration.name }}
    name: qontract-reconcile-{{ $integration.name }}
  spec:
    schedule: "{{ $integration.cron }}"
    concurrencyPolicy: {{ $integration.concurrencyPolicy | default "Allow" }}
    successfulJobHistoryLimit: {{ $integration.successfulJobHistoryLimit | default "3" }}
    failedJobHistoryLimit: {{ $integration.failedJobHistoryLimit | default "1" }}
    jobTemplate:
      spec:
        template:
          spec:
            containers:
            - name: int
              image: ${IMAGE}:${IMAGE_TAG}
              env:
              - name: RUN_ONCE
                value: 'true'
              - name: DRY_RUN
                value: ${DRY_RUN}
              - name: INTEGRATION_NAME
                value: {{ $integration.name }}
              - name: INTEGRATION_EXTRA_ARGS
                value: "{{ $integration.extraArgs }}"
              - name: GITHUB_API
                valueFrom:
                  configMapKeyRef:
                    name: app-interface
                    key: GITHUB_API
              - name: UNLEASH_API_URL
                valueFrom:
                  secretKeyRef:
                    name: unleash
                    key: API_URL
              - name: UNLEASH_CLIENT_ACCESS_TOKEN
                valueFrom:
                  secretKeyRef:
                    name: unleash
                    key: CLIENT_ACCESS_TOKEN
              {{- with $integration.extraEnv }}
              {{- range $i, $env := . }}
              - name: {{ $env.secretKey }}
                valueFrom:
                  secretKeyRef:
                    name: {{ $env.secretName }}
                    key: {{ $env.secretKey }}
              {{- end }}
              {{- end }}
              {{- if $integration.dashdotdb }}
              - name: DASHDOTDB_SECRET
                valueFrom:
                  secretKeyRef:
                    name: dashdotdb
                    key: AUTH_VAULT_PATH
              {{- end }}
              volumeMounts:
              - name: qontract-reconcile-toml
                mountPath: /config
              resources:
{{ toYaml $integration.resources | indent 16 }}
            restartPolicy: {{ $integration.restartPolicy | default "OnFailure" }}
            volumes:
            - name: qontract-reconcile-toml
              secret:
                secretName: qontract-reconcile-toml
{{- end }}
- apiVersion: v1
  kind: Service
  metadata:
    name: qontract-reconcile
    labels:
      app: qontract-reconcile
  spec:
    ports:
      - protocol: TCP
        port: 80
        targetPort: 9090
        name: http
    selector:
      component: qontract-reconcile
parameters:
- name: IMAGE
  value: quay.io/app-sre/qontract-reconcile
- name: IMAGE_TAG
  value: latest
- name: BUSYBOX_IMAGE
  value: quay.io/app-sre/ubi8-ubi-minimal
- name: BUSYBOX_IMAGE_TAG
  value: latest
- name: BUSYBOX_IMAGE_PULL_POLICY
  value: Always
- name: FLUENTD_IMAGE
  value: quay.io/app-sre/fluentd
- name: FLUENTD_IMAGE_TAG
  value: latest
- name: FLUENTD_IMAGE_PULL_POLICY
  value: Always
- name: DRY_RUN
  value: --dry-run
- name: SLEEP_DURATION_SECS
  value: "300"
- name: APP_INTERFACE_SQS_SECRET_NAME
  value: app-interface-sqs
- name: APP_INTERFACE_STATE_BUCKET_ACCOUNT
  value: app-sre
- name: USER_ID
  value: dummy
- name: LOG_FILE
  value: "/fluentd/log/integration.log"
- name: SLACK_CHANNEL
  value: "sd-app-sre-reconcile-stage"
- name: SLACK_ICON_EMOJI
  value: ":bust_in_silhouette:"
- name: GITHUB_API
  value: 'http://github-mirror.github-mirror-stage.svc.cluster.local'
- name: CLOUDWATCH_SECRET
  value: app-interface-cloudwatch
- name: SENTRY_DSN
  value: ""
- name: SLOW_OC_RECONCILE_THRESHOLD
  value: "600"
- name: LOG_SLOW_OC_RECONCILE
  value: "false"
