tenant: {{ tenants['ext-hypershift.openshift.io/cluster-type'] | default(tenants['default']) }}
tokenSpec: {{ tokenSpecs[labels['ext-hypershift.openshift.io/cluster-sector']] | default(tokenSpecs['default']) }}
