# qontract-api Configuration Example
# Copy this file to .env and adjust values for your development environment

QAPI_LOG_FORMAT_JSON=false

# Secret Management Configuration - Use the same vault credentials as in your config.dev.toml file
QAPI_SECRETS__DEFAULT_PROVIDER_URL="vault-url"
QAPI_SECRETS__PROVIDERS='[{"url": "vault-url", "role_id": "X", "secret_id": "X"}]'

QAPI_VCS__OWNERS_CACHE_TTL=432000
QAPI_PAGERDUTY__SCHEDULE_CACHE_TTL=10800
QAPI_PAGERDUTY__ESCALATION_POLICY_CACHE_TTL=10800

QAPI_SUBSCRIBER__SLACK_CHANNEL='dev-null'
QAPI_SUBSCRIBER__SLACK_TOKEN__PATH='app-sre/creds/slack-app-sre-groups'
QAPI_SUBSCRIBER__SLACK_TOKEN__FIELD='bot_token'

# use "make generate-token SUBJECT=dev EXPIRES_DAYS=3650" to generate a token with a long expiration time for local development
QAPI_SUBSCRIBER__QONTRACT_API_TOKEN='xxx'
