integrations:
- name: aws-iam-keys
  resources:
    requests:
      memory: 200Mi
      cpu: 100m
    limits:
      memory: 400Mi
      cpu: 200m
  logs:
    slack: true
- name: github
  resources:
    requests:
      # Known peaks are at 88Mi
      memory: 100Mi
      cpu: 100m
    limits:
      # Limits 30% above requests
      memory: 130Mi
      cpu: 200m
  logs:
    slack: true
- name: github-owners
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 80Mi
      cpu: 200m
  logs:
    slack: true
- name: github-repo-invites
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 150Mi
      cpu: 200m
  logs:
    slack: true
- name: quay-membership
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 150Mi
      cpu: 200m
  logs:
    slack: true
- name: quay-mirror
  sleepDurationSecs: 300
  resources:
    requests:
      memory: 550Mi
      cpu: 200m
    limits:
      memory: 550Mi
      cpu: 300m
- name: quay-mirror-org
  resources:
    requests:
      memory: 150Mi
      cpu: 200m
    limits:
      memory: 200Mi
      cpu: 300m
- name: gcr-mirror
  resources:
    requests:
      memory: 150Mi
      cpu: 200m
    limits:
      memory: 200Mi
      cpu: 300m
- name: ecr-mirror
  resources:
    requests:
      memory: 350Mi
      cpu: 400m
    limits:
      memory: 500Mi
      cpu: 600m
- name: quay-repos
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 150Mi
      cpu: 200m
  logs:
    slack: true
- name: quay-permissions
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 100Mi
      cpu: 200m
  logs:
    slack: true
- name: jira-watcher
  resources:
    requests:
      memory: 80Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  state: true
- name: unleash-watcher
  resources:
    requests:
      memory: 80Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  state: true
- name: github-scanner
  resources:
    requests:
      memory: 500Mi
      cpu: 600m
    limits:
      memory: 1000Mi
      cpu: 800m
  extraArgs: --thread-pool-size 1
  extraEnv:
  - secretName: ${APP_INTERFACE_SQS_SECRET_NAME}
    secretKey: gitlab_pr_submitter_queue_url
- name: aws-support-cases-sos
  resources:
    requests:
      memory: 200Mi
      cpu: 100m
    limits:
      memory: 400Mi
      cpu: 200m
  extraEnv:
  - secretName: ${APP_INTERFACE_SQS_SECRET_NAME}
    secretKey: gitlab_pr_submitter_queue_url
  logs:
    slack: false
- name: openshift-users
  resources:
    requests:
      # Known peaks are at 800Mi
      memory: 800Mi
      cpu: 400m
    limits:
      # Limits 30% above requests
      memory: 1040Mi
      cpu: 500m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
- name: openshift-groups
  resources:
    requests:
      # Known peaks are at 600Mi
      memory: 600Mi
      cpu: 200m
    limits:
      # Limits 30% above requests
      memory: 780Mi
      cpu: 300m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
  shards: 5
- name: openshift-namespace-labels
  resources:
    requests:
      memory: 800Mi
      cpu: 400m
    limits:
      # Limits 30% above requests
      memory: 1040Mi
      cpu: 500m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
  state: true
- name: openshift-namespaces
  resources:
    requests:
      # Known peaks are at 800Mi
      memory: 800Mi
      cpu: 400m
    limits:
      # Limits 30% above requests
      memory: 1040Mi
      cpu: 500m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
- name: openshift-clusterrolebindings
  resources:
    requests:
      # Known peaks are at 800Mi
      memory: 800Mi
      cpu: 150m
    limits:
      # Limits 30% above requests
      memory: 1040Mi
      cpu: 250m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
- name: openshift-rolebindings
  resources:
    requests:
      # Known peaks are at 700Mi
      memory: 700Mi
      cpu: 600m
    limits:
      # Limits 30% above requests
      memory: 900Mi
      cpu: 800m
  extraArgs: --external --no-use-jump-host
  shards: 10
  logs:
    slack: true
- name: openshift-network-policies
  resources:
    requests:
      # Known peaks are at 800Mi
      memory: 800Mi
      cpu: 100m
    limits:
      # Limits 30% above requests
      memory: 1040Mi
      cpu: 200m
  extraArgs: --external --no-use-jump-host
  shards: 10
  logs:
    slack: true
- name: openshift-limitranges
  resources:
    requests:
      memory: 800Mi
      cpu: 200m
    limits:
      memory: 1040Mi
      cpu: 300m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
- name: openshift-resourcequotas
  resources:
    requests:
      memory: 800Mi
      cpu: 900m
    limits:
      memory: 1200Mi
      cpu: 1200m
  extraArgs: --no-use-jump-host
- name: openshift-resources
  resources:
    requests:
      memory: 1600Mi
      cpu: 900m
    limits:
      memory: 3600Mi
      cpu: 1200m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
  shards: 20
- name: openshift-vault-secrets
  resources:
    requests:
      memory: 600Mi
      cpu: 900m
    limits:
      memory: 800Mi
      cpu: 1200m
  extraArgs: --external --no-use-jump-host
  shards: 20
- name: openshift-routes
  resources:
    requests:
      # Known peaks are at 770Mi
      memory: 800Mi
      cpu: 200m
    limits:
      # Limits 30% above requests
      memory: 1040Mi
      cpu: 300m
  extraArgs: --external --no-use-jump-host
  shards: 5
- name: terraform-aws-route53
  resources:
    requests:
      memory: 500Mi
      cpu: 100m
    limits:
      memory: 1000Mi
      cpu: 500m
  logs:
    slack: true
- name: terraform-resources-wrapper
  resources:
    requests:
      memory: 500Mi
      cpu: 200m
    limits:
      memory: 700Mi
      cpu: 400m
  extraArgs: --external --no-use-jump-host --vault-output-path app-sre/integrations-output
  logs:
    slack: true
  shards: 13
- name: terraform-users
  resources:
    requests:
      memory: 2400Mi
      cpu: 200m
    limits:
      memory: 3000Mi
      cpu: 400m
  extraArgs: --io-dir /tmp/throughput/
  logs:
    slack: true
- name: terraform-vpc-peerings
  resources:
    requests:
      memory: 2000Mi
      cpu: 400m
    limits:
      memory: 2600Mi
      cpu: 500m
  logs:
    slack: true
- name: terraform-tgw-attachments
  resources:
    requests:
      memory: 2300Mi
      cpu: 200m
    limits:
      memory: 3000Mi
      cpu: 400m
  logs:
    slack: true
- name: ocm-addons
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
- name: ocm-groups
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
- name: ocm-clusters
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
  extraEnv:
  - secretName: ${APP_INTERFACE_SQS_SECRET_NAME}
    secretKey: gitlab_pr_submitter_queue_url
- name: ocm-aws-infrastructure-access
  sleepDurationSecs: 600
  resources:
    requests:
      memory: 200Mi
      cpu: 50m
    limits:
      memory: 300Mi
      cpu: 100m
  logs:
    slack: true
- name: ocm-github-idp
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  extraArgs: --vault-input-path app-sre/integrations-input
- name: ocm-machine-pools
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
- name: ocm-upgrade-scheduler
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
  state: true
- name: ocm-external-configuration-labels
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
- name: ocm-additional-routers
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
- name: kafka-clusters
  resources:
    requests:
      memory: 800Mi
      cpu: 100m
    limits:
      memory: 1000Mi
      cpu: 200m
  extraArgs: --vault-throughput-path app-sre/integrations-throughput
  logs:
    slack: true
- name: email-sender
  resources:
    requests:
      memory: 100Mi
      cpu: 25m
    limits:
      memory: 200Mi
      cpu: 50m
  logs:
    slack: true
  state: true
- name: requests-sender
  resources:
    requests:
      memory: 100Mi
      cpu: 25m
    limits:
      memory: 200Mi
      cpu: 50m
  logs:
    slack: true
  state: true
- name: sentry-config
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
- name: sentry-helper
  resources:
    requests:
      memory: 100Mi
      cpu: 25m
    limits:
      memory: 200Mi
      cpu: 50m
  state: true
- name: sql-query
  resources:
    requests:
      memory: 250Mi
      cpu: 200m
    limits:
      memory: 330Mi
      cpu: 300m
  logs:
    slack: true
  state: true
  extraArgs: --enable-deletion
- name: slack-cluster-usergroups
  resources:
    requests:
      memory: 80Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
- name: ocp-release-mirror
  resources:
    requests:
      memory: 400Mi
      cpu: 200m
    limits:
      memory: 520Mi
      cpu: 300m
- name: sendgrid-teammates
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 150Mi
      cpu: 200m
  logs:
    slack: true
cronjobs:
- name: aws-ecr-image-pull-secrets
  resources:
    requests:
      memory: 100Mi
      cpu: 200m
    limits:
      memory: 200Mi
      cpu: 300m
  # once every 2 hours
  cron: '0 */2 * * *'
  extraArgs: --vault-output-path app-sre/integrations-output
- name: aws-garbage-collector
  failedJobHistoryLimit: "0"
  resources:
    requests:
        memory: 200Mi
        cpu: 25m
    limits:
      memory: 400Mi
      cpu: 50m
  # once a week
  cron: '0 0 * * 0'
- name: github-users
  resources:
    requests:
      memory: 50Mi
      cpu: 200m
    limits:
      memory: 150Mi
      cpu: 300m
  # once a month
  cron: '0 0 1 * *'
  extraArgs: --send-mails
  extraEnv:
  - secretName: ${APP_INTERFACE_SQS_SECRET_NAME}
    secretKey: gitlab_pr_submitter_queue_url
