integrations:
- name: aws-iam-keys
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
    cloudwatch: true
- name: github
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 150Mi
      cpu: 200m
  logs:
    slack: true
    cloudwatch: true
- name: github-owners
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 80Mi
      cpu: 200m
  logs:
    slack: true
    cloudwatch: true
- name: github-repo-invites
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 150Mi
      cpu: 200m
  logs:
    slack: true
    cloudwatch: true
- name: quay-membership
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 150Mi
      cpu: 200m
  logs:
    slack: true
    cloudwatch: true
- name: quay-mirror
  resources:
    requests:
      memory: 150Mi
      cpu: 200m
    limits:
      memory: 200Mi
      cpu: 300m
  logs:
    cloudwatch: true
- name: gcr-mirror
  resources:
    requests:
      memory: 150Mi
      cpu: 200m
    limits:
      memory: 200Mi
      cpu: 300m
  logs:
    cloudwatch: true
- name: quay-repos
  resources:
    requests:
      memory: 50Mi
      cpu: 100m
    limits:
      memory: 150Mi
      cpu: 200m
  logs:
    slack: true
    cloudwatch: true
- name: jira-watcher
  resources:
    requests:
      memory: 80Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  extraArgs: --io-dir /tmp/throughput/
- name: github-scanner
  resources:
    requests:
      memory: 500Mi
      cpu: 600m
    limits:
      memory: 1000Mi
      cpu: 800m
  extraArgs: --thread-pool-size 1
  extraEnv:
  - secretName: ${APP_INTERFACE_SQS_SECRET_NAME}
    secretKey: gitlab_pr_submitter_queue_url
- name: aws-support-cases-sos
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  extraEnv:
  - secretName: ${APP_INTERFACE_SQS_SECRET_NAME}
    secretKey: gitlab_pr_submitter_queue_url
  logs:
    slack: false
    cloudwatch: true
- name: openshift-users
  resources:
    requests:
      memory: 200Mi
      cpu: 100m
    limits:
      memory: 300Mi
      cpu: 200m
  extraArgs: --no-use-jump-host
  logs:
    slack: true
    cloudwatch: true
- name: openshift-groups
  resources:
    requests:
      memory: 300Mi
      cpu: 200m
    limits:
      memory: 400Mi
      cpu: 300m
  extraArgs: --no-use-jump-host
  logs:
    slack: true
    cloudwatch: true
- name: openshift-namespaces
  resources:
    requests:
      memory: 300Mi
      cpu: 400m
    limits:
      memory: 400Mi
      cpu: 500m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
    cloudwatch: true
- name: openshift-clusterrolebindings
  resources:
    requests:
      memory: 300Mi
      cpu: 150m
    limits:
      memory: 400Mi
      cpu: 250m
  extraArgs: --no-use-jump-host
  logs:
    slack: true
    cloudwatch: true
- name: openshift-rolebindings
  resources:
    requests:
      memory: 400Mi
      cpu: 600m
    limits:
      memory: 1000Mi
      cpu: 800m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
    cloudwatch: true
- name: openshift-network-policies
  resources:
    requests:
      memory: 200Mi
      cpu: 100m
    limits:
      memory: 400Mi
      cpu: 200m
  extraArgs: --external --no-use-jump-host
  shards: 4
  logs:
    slack: true
    cloudwatch: true
- name: openshift-acme
  resources:
    requests:
      memory: 300Mi
      cpu: 200m
    limits:
      memory: 400Mi
      cpu: 300m
  extraArgs: --external --no-use-jump-host
  logs:
    slack: true
    cloudwatch: true
- name: openshift-limitranges
  resources:
    requests:
      memory: 50Mi
      cpu: 200m
    limits:
      memory: 100Mi
      cpu: 300m
  extraArgs: --no-use-jump-host
  logs:
    slack: true
    cloudwatch: true
- name: openshift-resourcequotas
  resources:
    requests:
      memory: 50Mi
      cpu: 200m
    limits:
      memory: 100Mi
      cpu: 300m
  extraArgs: --no-use-jump-host
- name: openshift-resources
  resources:
    requests:
      memory: 800Mi
      cpu: 900m
    limits:
      memory: 1200Mi
      cpu: 1200m
  extraArgs: --external --no-use-jump-host
  logs:
    cloudwatch: true
    slack: true
- name: openshift-vault-secrets
  resources:
    requests:
      memory: 800Mi
      cpu: 900m
    limits:
      memory: 1200Mi
      cpu: 1200m
  extraArgs: --external --no-use-jump-host
  logs:
    cloudwatch: true
- name: openshift-routes
  resources:
    requests:
      memory: 300Mi
      cpu: 200m
    limits:
      memory: 400Mi
      cpu: 300m
  extraArgs: --no-use-jump-host
  logs:
    cloudwatch: true
- name: terraform-resources
  resources:
    requests:
      memory: 800Mi
      cpu: 900m
    limits:
      memory: 1000Mi
      cpu: 1200m
  extraArgs: --external --no-use-jump-host --vault-output-path app-sre/integrations-output
  logs:
    slack: true
    cloudwatch: true
- name: terraform-users
  resources:
    requests:
      memory: 1000Mi
      cpu: 200m
    limits:
      memory: 1500Mi
      cpu: 400m
  extraArgs: --io-dir /tmp/throughput/
  logs:
    slack: true
    cloudwatch: true
- name: terraform-vpc-peerings
  resources:
    requests:
      memory: 600Mi
      cpu: 400m
    limits:
      memory: 1000Mi
      cpu: 500m
  logs:
    slack: true
    cloudwatch: true
- name: ocm-groups
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    cloudwatch: true
- name: ocm-clusters
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
- name: ocm-aws-infrastructure-access
  resources:
    requests:
      memory: 200Mi
      cpu: 50m
    limits:
      memory: 300Mi
      cpu: 100m
  logs:
    slack: true
- name: ocm-github-idp
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  extraArgs: --vault-input-path app-sre/integrations-input
  logs:
    cloudwatch: true
- name: email-sender
  resources:
    requests:
      memory: 100Mi
      cpu: 25m
    limits:
      memory: 200Mi
      cpu: 50m
  logs:
    slack: true
    cloudwatch: true
  state: true
- name: requests-sender
  resources:
    requests:
      memory: 100Mi
      cpu: 25m
    limits:
      memory: 200Mi
      cpu: 50m
  logs:
    slack: true
    cloudwatch: true
  state: true
- name: sentry-config
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
  logs:
    slack: true
    cloudwatch: true
- name: sql-query
  resources:
    requests:
      memory: 100Mi
      cpu: 200m
    limits:
      memory: 200Mi
      cpu: 300m
  logs:
    slack: true
    cloudwatch: true
  state: true
- name: openshift-performance-parameters
  resources:
    requests:
      memory: 300Mi
      cpu: 100m
    limits:
      memory: 400Mi
      cpu: 200m
  logs:
    slack: true
    cloudwatch: true
  extraArgs: --no-use-jump-host
cronjobs:
- name: aws-ecr-image-pull-secrets
  resources:
    requests:
      memory: 100Mi
      cpu: 200m
    limits:
      memory: 200Mi
      cpu: 300m
  # once every 6 hours
  cron: '0 */6 * * *'
  extraArgs: --vault-output-path app-sre/integrations-output
- name: aws-garbage-collector
  resources:
    requests:
        memory: 200Mi
        cpu: 25m
    limits:
      memory: 400Mi
      cpu: 50m
  # once a week
  cron: '0 0 * * 0'
- name: github-users
  resources:
    requests:
      memory: 50Mi
      cpu: 200m
    limits:
      memory: 150Mi
      cpu: 300m
  # once a month
  cron: '0 0 1 * *'
  extraArgs: --send-mails
  extraEnv:
  - secretName: ${APP_INTERFACE_SQS_SECRET_NAME}
    secretKey: gitlab_pr_submitter_queue_url
