mypy
types-click
types-croniter
types-Jinja2
types-ldap3
types-mock
types-pyOpenSSL
types-python-dateutil
types-PyYAML
types-requests
types-requests-oauthlib
types-setuptools
types-tabulate
types-toml
types-dateparser
types-oauthlib
boto3-stubs[ec2,s3,rds,iam,route53]==1.24.71
qenerate==0.6.3
types-psycopg2
