anymarkup==0.8.1
flake8~=4.0
# Pin httpretty because of https://github.com/gabrielfalcao/HTTPretty/issues/425. version 1.1.5 should be fine when released
git+https://github.com/gabrielfalcao/HTTPretty.git@c255165a86bef7f894c3a446b41d0b3379c5c2be
kubernetes~=24.0
pylint~=2.13
pytest~=7.1
pytest-cov~=2.12
pytest-mock~=3.6
responses
testslide~=2.7
moto~=2.2
MarkupSafe==2.1.1
smtpdfix==0.3.3
isort~=5.10
