Hello,

This is an automated notification.

An AWS access key leak was detected and is being mitigated.

Information:
Account: {{ ACCOUNT }}
Access key: {{ ACCESS_KEY }}

Please consult relevant SOPs to verify that the account is secure.
