We have identified that {{app_name}}, stored in app-interface under {{app_path}} does not have a valid {{field}}. The value we have found is {{field_value}}.

Please correct this piece of information, which is part of the [acceptance criteria|https://gitlab.cee.redhat.com/app-sre/contract/-/blob/master/content/service/metadata.md] for keeping this application supported by app-sre.
