We have identified that {% raw %}{{{% endraw %}{{app_name}}{% raw %}}}{% endraw %}, stored in app-interface under {% raw %}{{{% endraw %}{{ app_path }}{% raw %}}}{% endraw %} does not have a valid {% raw %}{{{% endraw %}{{field}}{% raw %}}}{% endraw %}. The value we have found is {% raw %}{{{% endraw %}{{field_value}}{% raw %}}}{% endraw %}.

Please correct this piece of information, which is part of the [acceptance criteria|https://gitlab.cee.redhat.com/app-sre/contract/-/blob/master/content/service/metadata.md] for keeping this application supported by app-sre.
