#!/bin/bash

set -e
set -o pipefail

rosa init
rosa create ocm-role --admin -y -m auto
rosa create account-roles --classic -y -m auto
rosa create user-role -y -m auto

# OIDC config
{% if cluster.spec.oidc_endpoint_url %}
OIDC_CONFIG_ID="{{ (cluster.spec.oidc_endpoint_url | split("/")) | last }}"
{% else %}
OIDC_CONFIG_ID=$(rosa list oidc-provider -o json | jq '.[0].arn // "/" | split("/") | .[-1]' -r)
if [[ -z "${OIDC_CONFIG_ID}" ]]; then
    rosa create oidc-config -m auto -y
    OIDC_CONFIG_ID=$(rosa list oidc-provider -o json | jq '.[0].arn // "/" | split("/") | .[-1]' -r)
else
    echo "reuse existing OIDC config ${OIDC_CONFIG_ID}"
fi
{% endif %}

# operator roles
INSTALLER_ROLE_ARN=$(rosa list account-roles --region us-east-1 -o json | jq '.[] | select(.RoleType == "Installer") | .RoleARN' -r)
rosa create operator-roles --prefix {{ cluster_name }} --oidc-config-id ${OIDC_CONFIG_ID} --installer-role-arn ${INSTALLER_ROLE_ARN} -m auto -y

# cluster creation
rosa create cluster -y --cluster-name={{ cluster_name }} \
    {% if dry_run -%}
    --dry-run \
    {% endif -%}
    --sts \
    {% if cluster.spec.private -%}
    --private \
    {% endif -%}
    {% if cluster.spec.private -%}
    --private-link \
    {% endif -%}
    {% if cluster.spec.multi_az -%}
    --multi-az \
    {% endif -%}
    --oidc-config-id ${OIDC_CONFIG_ID} \
    --operator-roles-prefix {{ cluster_name }} \
    --subnet-ids {{ cluster.spec.subnet_ids | join(",") }} \
    --region {{ cluster.spec.region }} \
    --version {{ cluster.spec.initial_version }} \
    --machine-cidr {{ cluster.network.vpc }} \
    --service-cidr {{ cluster.network.service }} \
    --pod-cidr {{ cluster.network.pod }} \
    --host-prefix 23 \
    --replicas {{ cluster.machine_pools | length }} \
    --compute-machine-type {{ cluster.machine_pools[0].instance_type }} \
    {% if cluster.spec.disable_user_workload_monitoring -%}
    --disable-workload-monitoring \
    {% endif -%}
    {% if cluster.spec.provision_shard_id -%}
    --properties provision_shard_id:{{ cluster.spec.provision_shard_id }} \
    {% endif -%}
    --channel-group {{ cluster.spec.channel }}
